.hayyafann-logo-12-removebg-icon {
  height: 136px;
  width: 170px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.home2 {
  text-decoration: none;
  height: 34px;
  width: 125.9px;
  position: relative;
  font-weight: 700;
  color: var(--color-orange);
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.about-me3 {
  text-decoration: none;
  width: 125.9px;
  height: 34px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.about-me-container {
  height: 34px;
  width: 134.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-3xs-9) 0px 0px;
  box-sizing: border-box;
}
.resume2 {
  text-decoration: none;
  width: 125.9px;
  height: 25px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.resume-container {
  height: 25px;
  width: 132.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px var(--padding-5xs-6) 0px 0px;
  box-sizing: border-box;
}
.services2 {
  text-decoration: none;
  height: 25px;
  width: 125.9px;
  position: relative;
  color: inherit;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.skills2 {
  text-decoration: none;
  height: 34px;
  width: 125.9px;
  position: relative;
  color: inherit;
  white-space: pre-wrap;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.contact2 {
  width: 124.9px;
  position: relative;
  display: none;
  color: var(--color-orange);
}
.navigation2 {
  width: 760px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
}
.navigation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-15xl) 0px 0px;
  box-sizing: border-box;
  max-width: 100%;
}
.hayyafann-logo-12-removebg-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 577px;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-source-serif-pro);
}
.hafsa-fuad-abdalla1 {
  color: var(--color-orange);
}
.hello-i-am-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.i-am-mobile {
  margin: 0;
}
.i-am-mobile-container {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.i-am-mobile-application-develo-wrapper {
  width: 1382px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0px 73px 0px 72px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-6xl);
  font-family: var(--font-source-serif-pro);
}
.hello-i-am-hafsa-fuad-abdalla-parent {
  width: 1394px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-28xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-61xl);
  color: var(--color-white);
  font-family: var(--font-playfair-display);
}
.homepage {
  width: 100%;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-26xl) 0px 381px 21px;
  gap: 242px;
  line-height: normal;
  letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
  .hayyafann-logo-12-removebg-parent {
    gap: 288px;
  }

  .i-am-mobile-application-develo-wrapper {
    padding-left: var(--padding-17xl);
    padding-right: var(--padding-17xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .navigation2 {
    display: none;
  }

  .hello-i-am-container {
    font-size: var(--font-size-21xl);
  }
}
@media screen and (max-width: 750px) {
  .hayyafann-logo-12-removebg-parent {
    gap: 144px;
  }

  .hello-i-am-hafsa-fuad-abdalla-parent {
    gap: var(--gap-4xl);
  }

  .homepage {
    gap: 121px;
  }
}
@media screen and (max-width: 450px) {
  .hayyafann-logo-12-removebg-parent {
    gap: 72px;
  }

  .hello-i-am-container {
    font-size: var(--font-size-5xl);
  }

  .i-am-mobile-container {
    font-size: var(--font-size-xl);
  }

  .homepage {
    gap: 60px;
  }
}
